body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(255, 241, 164);
}

/* Homepage Layout */
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em;
    margin: auto;

    
    
    
    
}

#title {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 7.5em;
    word-spacing: .3em;
    color: rgb(228, 116, 41); 
}

img {
    margin: auto;
    max-height: 500px;
    
    
}

.himg:hover {
    transform: scale(1.05);
}


/* Overlay Properties */
.hidden {
    display: none;
}

.showing {
    display: flex;
}

.home{
    display: block;
}


/* Overlays Layout */

#laksa-overlay, #whoa-overlay, #tree-overlay {
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    background-color: rgba(245, 57, 57, 0.25);
    width: 80%;
    height: 100vh;
}

.top-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    
    
}

.overlay-title {
    margin: auto;
    font-family: 'Titan One';
    font-size: 6em;
    font-weight: 400;
    color:  rgb(46, 25, 2);
}

 .column1 {
   width: 50%;
   z-index: 1;
   
}
 .column2 {
    width: 50%;
    text-align: center;
    
 }

.column2 p {
    padding: 0em 7em 5em 0em ;
    text-align: left;
    font-family: 'Source Sans Pro';
    font-size: 1.5em;
    font-weight: 400;
    color:  rgb(46, 25, 2);
}

.column2 button {
    background-color: rgb(228, 116, 41); 
    border: none;
    padding: 10px 25px 10px 25px;
    font-family: 'Source Sans Pro';
    font-size: 1.25em;
    font-weight: 400;
}
    
