body {
    margin: 0 0 0 0 ;
    padding: 0 0 0 0;
    margin: auto;
    
    max-width: 1200px;
    min-width: 800px;
    background-color: #f1ffff;
    font-family: 'Source Sans Pro';
    color: #1C0221;

    padding-left: 3em;
    padding-right: 3em;
   
    
    
}

header {
    border-bottom: .15em dotted #056f99;
    font-size: 3em;
    
}

header h1 {
    margin-bottom: .1em;
}

article {
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.7em;
    max-width: 85%;
    
}

h3{
    margin: 0 0 0 0;
}


article p {
    font-size: .75em;
    line-height: 1.35em;
    
}