body {
    max-width: 1200px;
    max-height: 750px;
    margin: auto;
    background-color: #FFE7F3;
    
    
}

header{
    display: flex;
    padding-top: 3em;
}
header h1{
    margin: auto;
    font-family: 'Dancing Script';
    font-size: 7.805em;
    
}

main h2{
   text-align: center;
   font-family: 'Coming Soon';
   font-weight: 400;
   font-size: 3em;
   padding-top: 1.5em;

}

#form {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 325px ;
    font-family: 'Coming Soon';
    font-size: 1.35em;
    font-weight: 600;
    
    
}


#form input[type="text"] {
    background-color: #E9D9F1;
    border: none;
    border-radius: .25em;
    width: 7.95em;
    font-size: .85em;
    text-indent: 5%;
    
    
}

input[type="text"]:focus {
    border:1px solid #D6D9DC;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}


#form input[type="submit"] {
    background-color: #B881D7;
    border: none;
    border-radius: .25em;
    
}

#submit{
    padding: 0px 250px;
    
}

#submit input{
    display: block;
    padding: 5px 25px 2px 25px;
}

main {
    position: relative;
    z-index: 2;
   
    
}

#sticky-note{
position: absolute;
left: 48.5em;
bottom: 19em;
z-index: 1;

}

/* Results View 1 - Mad Person - Overlay */

#mad-person h1 {
    font-family: 'Dancing Script';

}

/* Results View 2 - Suing Letter - Overlay */
#overlay {
    position: absolute;
    left: 0;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  
    
} 

#letter {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    padding: 5% 5% 15% 5%;
    font-family:'Lora' ;
    font-size: 1.2em;
    line-height: 1.5em;
    background-color: #FFF8EC;
    
}


#letter h1{
    padding-bottom: .5em;
    font-family:'Rubik Dirt' ;
    font-size: 8em;
    text-align: center;
    font-weight: 400;
    color: #B2121C;
    
}

button{
    text-align: c;
    display: block;
    padding: 5px 25px 2px 25px;
    background-color: rgb(178, 18, 28, 0.15);
    border-radius: .25em;
    margin-left: 90%;
    font-size: .9em;
    

}


/* Overlay Visibility Classes */
.hidden {
    display: none;
    
}

.showing {
    display: block;
}






